.calculator {
  border: 1px solid black;
  border-radius: 8px;
  width: 200px;
}
.display {
  background-color: azure;
  margin: 10px;
  width: 175px;
  font-size: 25px;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
}
.button {
  background-color: beige;
  width: 45px;
  height: 45px;
  margin: 3px;
  border: 1px solid black;
  text-align: center;
  
}
